
/* set the colour when the class label of body is correct */
body.correct {
    --hue: var(--hue-correct);
    background-color: hsl(var(--hue), 100%, 35%);
}
/* set the colour when the class label of body is wrong */
body.wrong {
    --hue: var(--hue-wrong);
    background-color: hsl(var(--hue), 70%, 50%);
}

/* style for the questions */
.question {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* style for the control buttons (next and confirm)*/
.control-but{
    font-weight: bold;
    padding: 10px 20px;
    width: 5rem;
    color: rgb(90, 76, 65);
    float: right;
}

/* style for the answer buttons */
.answer-but {
    display: flex;
    width: 100%;
    font-size: 1rem;
    background-color: white;
}

/* change colour when the button clicked is correct*/
.correct {
    --hue: var(--hue-correct);
}
/* change colour when the button clicked is wrong*/
.wrong {
    --hue: var(--hue-wrong);
}

/* style for the letter-part of the answer buttons */
.choices {
    padding: 1rem 1rem;
    background-color: hsl(var(--hue), 50%, 80%);
    font-weight: bold;
    color: rgb(90, 76, 65);
}

/* style for the answer-part of the answer buttons */
.answers {
    padding: 0.5rem; 
}

.info-container {
    margin-bottom: 1.5rem;
}

.info {
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(90, 76, 65);
}

#progress-bar {
    height: 1rem;
    border: 0.25rem solid hsl(var(--hue-neutral), 50%, 70%);
    border-radius: 15px;
}
  
#progress {
    height: 0.7rem;
    background-color: hsl(var(--hue-neutral), 50%, 70%);
    width: 0%;
}


