
/* set the colour when the class label of body is correct */
body.correct {
    --hue: var(--hue-correct);
    background-color: hsl(var(--hue), 100%, 35%);
}
/* set the colour when the class label of body is wrong */
body.wrong {
    --hue: var(--hue-wrong);
    background-color: hsl(var(--hue), 70%, 50%);
}

/* style for the answer grid */
.question {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* style for the start and next button */
.control-but{
    font-weight: bold;
    padding: 10px 20px;
    width: 5rem;
    color: rgb(90, 76, 65);
}

.answer-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1rem;
    background-color: white;
    border: 0.5px solid hsl(var(--hue), 10%, 80%);
}

.answer-container:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

/* change colour when the button clicked is correct*/
.answer-container.correct {
    --hue: var(--hue-correct);
}
/* change colour when the button clicked is wrong*/
.answer-container.wrong {
    --hue: var(--hue-wrong);
}

.choices {
    padding: 1rem 1rem;
    background-color: hsl(var(--hue), 50%, 80%);
    font-weight: bold;
    color: rgb(90, 76, 65);
}

.answers {
    padding: 0.5rem; 
  }



