<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <!--attach the style sheet-->
    <link href="/css/home_styles.css" rel="stylesheet">
</head>
<body>
    <!--outer white box containing all the stuff-->
    <div class="container">
        <!--home page-->
        <div id="home" class="flex-center flex-column">
            <h1>Quiz App</h1>
            <a class="link but" href="../public/html/quiz.html">Start Quiz</a>
            <a class="link but" href="/record">Record</a>
            <a target="_blank" href="https://github.com/taylortl/OnlineQuiz">
                <img class="logo" src="/img/GitHub-Mark-120px-plus.png" alt="my git hub">
            </a>
        </div>
    </div>
</body>
</html>