<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <!--attach the style sheet-->
    <link type="text/css" href="/css/home_styles.css" rel="stylesheet">
    <link type="text/css" href="/css/quiz_styles.css" rel="stylesheet">
    <!--attach the script-->
    <script defer src="/js/quiz_script_rest.js"></script>
</head>
<body>
    <!--outer white box containing all the stuff-->
    <div class="container">
        <!--home page-->
        <div id="home" class="flex-center flex-column">
            <h1>Quiz App</h1>
            <button class="link but"  onclick="window.location.href = './quiz';" >Start Quiz</button>
            <button class="link but" onclick="window.location.href = './get_record';">Record</button>
            <a target="_blank" href="https://github.com/taylortl/OnlineQuiz">
                <img class="logo" type="text/img" src="/img/GitHub-Mark-120px-plus.png" alt="my git hub">
            </a>
        </div>
    </div>
</body>
</html>