/* for all elements */
*, *::before, *::after{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* define style for all elements */
:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

/* redefine h1 style */
h1 {
    font-size: 3rem;
    color: rgb(90, 76, 65);
    margin-bottom: 1rem;
}

.logo {
    width: 30px;
    margin-top: 0.5rem;

}

/* style for the background */
body {
    --hue: var(--hue-neutral);
    /* these together pushes the content in the middle of the screen */
    width: 100vw;
    height: 100vh;
    display: flex;           /* flex box */ 
    justify-content: center; /* center things horizontally*/
    align-items: center;     /* center things vertically*/
    /*-------------------------------------------------------------- */
    background-color: hsl(var(--hue), 100%, 20%);
}

/* style for the container */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;           /* flex box */ 
    justify-content: center; /* center things horizontally*/
    align-items: center;     /* center things vertically*/
    border-radius: 3px; /* round the corner */
    box-shadow: 0px 0px 13px 2px;
    background-color: white;
    padding: 15px;
    max-width: 80%; /* such that the content does not overflow the page */
    margin: 0 auto;
}

.container > * {
    width: 100%;
}

/* style for link buttons at home page */
.link {
    text-decoration: none;
    color: rgb(90, 76, 65);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 7px;
}
/* style for the all buttons */
.but {
    --hue: var(--hue-neutral);
    color: rgb(90, 76, 65); /* text colour */
    background-color: hsl(var(--hue), 50%, 80%); /* frame color */
    border: 0.5px solid hsl(var(--hue), 10%, 80%);
    border-radius: 4px;
    outline: none;
    width: 50%; /* width of the button */
    margin-bottom: 0.3rem; /* spacing between buttons */
}

/* adding the hover effect to the buttons*/
.but:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

/* adding the hover effect to the disabled buttons*/
.but[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* do not display the buttons with hide class*/
.hide {
    display: none;
}


/* other styles */
.flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center-x {
      justify-content: center;
  }



